body{
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
}
.btn{
	box-sizing: border-box;
	width: 80%;
	font-size: 30px;
	text-align: center;
	margin: 10%;
	border-radius: 5px;
	background: #fff;
	height: 100px;
	vertical-align: middle;
}

.btn:active{
	border: 2px #aaa solid;
	background: #eee;
	height: 200px;
}

.bigContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.roundContainer{
	display: flex;
	flex-direction: column;
	background: hotpink;
}
.voteContainer{
	display: flex;
	flex-direction: column;
	background: pink;
}

.roundControls{
	box-sizing: border-box;
	padding: 10px;
	background: #ddd;
	width: 300px;
	height: 400px;
	text-align: center;
	justify-content: center;
}

.roundInfoPane{
	background: #bbb;
	width: 300px;
	height: 200px;
	text-align: center;
}

.voteControls{
	box-sizing: border-box;
	padding: 10px;
	background: #ddd;
	width: 300px;
	height: 400px;
	text-align: center;
	justify-content: center;
}

.voteInfoPane{
	background: #bbb;
	width: 300px;
	height: 200px;
	text-align: center;
}

.standby{
	background: green;
	font-size: 18px;
}

.warning{
	background: goldenrod;
	font-size: 24px;
}

.critical{
	background: red;
	font-size: 28px;
}
